.container
  / Example row of columns
  .row
    .col-lg-6
      %h2 Gem Components
      .col-lg-8
        %li 
          %a{:href => 'http://www.sinatrarb.com/'} sinatra
        %li 
          %a{:href => 'http://haml.info/'} haml
        %li 
          %a{:href => 'https://github.com/mislav/will_paginate/wiki'} will_paginate
        %li 
          %a{:href => 'https://github.com/nickpad/will_paginate-bootstrap'} will_paginate-bootstrap
        %li 
          %a{:href => 'http://net-ldap.rubyforge.org/Net/LDAP.html'} net/ldap
        %li 
          %a{:href => 'http://www.mongodb.org/'} mongo
        %li 
          %a{:href => 'http://ruby-doc.org/stdlib-2.0.0/libdoc/singleton/rdoc/Singleton.html'} singleton
         
    .col-lg-6
      %h2 Contact
      %p For any requests/questions, Please mail to 
      %p
        %a.btn.btn-default{:href => "mailto:DL-PP-Rubyists@corp.ebay.com"} DL-PP-Rubyists &raquo;
  %hr
    
  / Example row of columns
  .row
    .col-lg-12
      %h2 Web References
      .col-lg-8
        %li 
          %a{:href => 'http://net.tutsplus.com/tutorials/ruby/singing-with-sinatra/'} Singing with Sinatra
        %li 
          %a{:href => 'http://net.tutsplus.com/tutorials/ruby/an-introduction-to-haml-and-sinatra/'} Haml and Sinatra
        %li 
          %a{:href => 'http://getbootstrap.com/'} Bootstrap Components
        %li 
          %a{:href => 'http://thewebfellas.com/blog/2008/8/3/roll-your-own-pagination-links-with-will_paginate'} Pagination         
            
  %hr

  / Example row of columns
  .row
    .col-lg-12
      %h2 Fork & Contribute
      %p
        %a.btn.btn-primary{:href => "https://github.paypal.com/amanoharan/Projects/tree/master/Ruby/Attendance"} Github Page &raquo;
  
  %hr
