.form-signin input[type="text"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.body { 
	padding-top: 40px;
	padding-bottom: 40px; 
}

@media (max-width: 979px) {
	body {
		padding-top: 0
	}
}

.error {
    color: #b94a48;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
